<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/<%= product.imgUrl %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= product.title %></h5>
                <h6 class="card-subtitle mb-2">$<%= product.price.toFixed(2) %></h6>
                <p class="card-text"><%= product.description %></p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
                <% if (isUserLoggedIn) { %>
                <a href="/products/edit/<%= product.id %>" class="card-link">Edit</a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>