<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div class="container">
    <div class="row justify-content-md-center">
        <h2 class="text-center"><%= pageTitle %></h2>
    </div>
    <div class="row">
        <% if (products.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i= 0; i < products.length; i++) { %>
                <tr>
                    <th scope="row">#<%= i+1 %></th>
                    <td><a href="/products/<%= products[i].id %>"><%= products[i].title %></a></td>
                    <td>$<%= products[i].price %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } else { %>
            <p>No Product Found</p>
        <% } %>
    </div>
</div>

<%- include('../includes/footer.ejs') %>